$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inconsolata', monospace;

// typography
.font-secondary {
  font-family: 'Poppins', sans-serif;
}

.font-tertiary {
  font-family: 'Inconsolata', monospace !important;
}

.font-serif {
  font-family: 'Lora', serif;
}

.text--h1 {
  font-size: 56px;
  line-height: 64px;
  font-family: $font-secondary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 30px;
    line-height: 38px;
  }
}

.text--h2 {
  font-size: 36px;
  line-height: 52px;
  font-family: $font-primary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 32px;
    line-height: 48px;
  }
}

.text--h3 {
  font-size: 42px;
  line-height: 48px;
  font-family: $font-secondary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 28px;
    line-height: 32px;
  }
}

.text--h4 {
  font-size: 28px;
  line-height: 38px;
  font-family: $font-secondary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 24px;
    line-height: 36px;
  }
}

.text--body-1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  font-family: $font-primary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 18px;
    line-height: 28px;
  }
}

.text--body-2 {
  font-size: 17.5px;
  font-weight: 400;
  line-height: 32px;
  font-family: $font-primary;
  color: #2b2523;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 16px;
    line-height: 28px;
  }
}

p.text--body-2 {
  margin-bottom: 20px;
}

.text--body-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: $font-primary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 14px;
    line-height: 26px;
  }  
}

.text-card {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-family: $font-secondary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 18px;
    line-height: 26px;
  }  
}

.text--blockquote {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  font-family: $font-secondary;
  text-align: center;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 22px;
    line-height: 30px;
  }  
}

.text--reference {
  font-size: 14px;
  line-height: 22px;
  font-family: $font-primary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 12px;
    line-height: 18px;
  }
}

.text--caption {
  font-size: 14px;
  line-height: 22px;
  font-family: $font-secondary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 12px;
    line-height: 18px; 
  }
}

.text--overline {
  font-size: 10px;
  line-height: 16px;
  font-family: $font-primary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 10px;
    line-height: 16px; 
  }
}

.line-divider {
  border-bottom: black;
}

p > a, li > a {
  font-weight: 500;
  border-bottom: 2px solid black;
  text-decoration: none;
  word-break: break-word;
}


// section title style

.scroll-embellish {
  display: inline-block;
}

.scroll-prompt {
  position: relative;
  display: inline-block;
  margin-left: 42px;
}

.scroll-prompt:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -24px;
  border-left: 3px solid #2e2e2e;
}