// Globals
$body-font-family: 'Poppins', sans-serif;

// Dialog for Map
$dialog-elevation: 0;

// Mobile Toolbar
$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0;
$list-padding: 0;


// Desktop Navbar 
$tabs-item-max-width: 600px;
$tabs-item-min-width: 200px;

// Switches
$switch-track-dense-inset-height: 16px;
$switch-track-dense-inset-width: 28px;
$switch-thumb-dense-height: 10px;
$switch-thumb-dense-width: 10px;
$switch-dirty-offset-x: 12px;
$switch-track-inset-width: 28px;

$offset-top: 100px;